<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="com.blakgeek.cordova.plugin.revmob" version="1.0.8">
    <name>revmob-plugin</name>
    <description>Cordova plugin for RevMob ads.</description>
    <license>Apache 2.0</license>
    <keywords>revmob,ad,blakgeek,sdk</keywords>
    <author>Carlos "blakgeek" Lawton</author>
    <repo>https://github.com/blakgeek/cordova-plugin-revmob.git</repo>
    <issue>https://github.com/blakgeek/cordova-plugin-revmob/issues</issue>

    <js-module src="www/revmob.js" name="RevMobPlugin">
        <clobbers target="RevMob" />
        <clobbers target="RevMobAds" />
        <clobbers target="smoothieServices.revmob" />
    </js-module>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="RevMobPlugin">
                <param name="ios-package" value="RevMobPlugin" />
            </feature>
        </config-file>
        <header-file src="src/ios/RevMobPlugin.h" />
        <source-file src="src/ios/RevMobPlugin.m" />
        <framework src="src/ios/RevMobAds.framework" custom="true" />
        <framework src="SystemConfiguration.framework" />
        <framework src="MediaPlayer.framework" />
        <framework src="StoreKit.framework" />
        <framework src="AdSupport.framework" />
    </platform>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="RevMobPlugin">
                <param name="android-package" value="com.blakgeek.cordova.plugin.revmob.RevMobPlugin" />
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.revmob.ads.fullscreen.FullscreenActivity"
                android:theme="@android:style/Theme.Translucent"
                android:configChanges="keyboardHidden|orientation"></activity>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>

        <source-file src="src/android/RevMobPlugin.java" target-dir="src/com/blakgeek/cordova/plugin/revmob" />
        <source-file src="src/android/revmob-7.0.0.jar" target-dir="libs" />
        <dependency id="com.google.playservices" url="https://github.com/MobileChromeApps/google-play-services.git" />
    </platform>
</plugin>
